In [165]:
#Penyimpanan data airbnb_amsterdam kedalam dataframe
import pandas as pd

dataframe = pd.read_csv ('airbnb_amsterdam.csv')
dataframe.head()

,accommodates,bathrooms,bedrooms,calculated_host_listings_count,guests_included,host_listings_count,latitude,longitude,minimum_nights,number_of_reviews,d_centre,instant_bookable_t,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,price_category
0,3,1.0,2,1,2,1,52.369802,4.858930,3,3,2.938979,0,1,0,0,Low
1,4,1.0,3,1,1,1,52.353641,4.904810,2,27,2.862356,0,1,0,0,Medium
2,2,1.0,1,2,2,2,52.367143,4.982494,2,13,5.792076,0,0,1,0,Low
3,3,1.0,1,1,2,1,52.351166,4.894002,3,6,3.135803,1,1,0,0,Low
4,2,1.0,1,1,1,1,52.354419,4.934173,6,34,3.624058,0,0,1,0,Low

In [166]:
#feature selection
feature = dataframe[['accommodates', 'bathrooms', 'bedrooms', 'guests_included', 
                     'minimum_nights', 'd_centre', 'number_of_reviews','price_category']]
feature.head()

,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,d_centre,number_of_reviews,price_category
0,3,1.0,2,2,3,2.938979,3,Low
1,4,1.0,3,1,2,2.862356,27,Medium
2,2,1.0,1,2,2,5.792076,13,Low
3,3,1.0,1,2,3,3.135803,6,Low
4,2,1.0,1,1,6,3.624058,34,Low

In [167]:
#memisahkan features dan class(kategori)
from sklearn.model_selection import train_test_split
x = feature.iloc[:,:7]
y = feature.iloc[:,7]

In [168]:
#Membagi data menjadi data training dan data testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [169]:
#Gaussian naive bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb = gnb.fit(x_train, y_train)

In [171]:
#data uji dan data testing
print(gnb.predict(x_test))
print(y_test)

['Medium' 'Low' 'Mid-High' 'Low' 'Mid-High' 'Mid-High' 'Medium' 'Low'
 'Mid-High' 'Highest' 'Mid-High' 'Low' 'Low' 'Medium' 'Low' 'Highest'
 'Mid-High' 'Low' 'Low' 'Low' 'Medium' 'Low' 'Mid-High' 'Medium' 'Low'
 'Low' 'Mid-High' 'Low' 'Medium' 'Mid-High' 'Mid-High' 'Low' 'Low'
 'Medium' 'Low' 'Mid-High' 'Mid-High' 'Low' 'Low' 'Mid-High' 'Mid-High'
 'Mid-High' 'Low' 'Low' 'Low' 'Low' 'Mid-High' 'Medium' 'Low' 'Mid-High'
 'Medium' 'Mid-High' 'Medium' 'Low' 'Mid-High' 'Medium' 'Low' 'Mid-High'
 'Highest' 'Mid-High' 'Mid-High' 'Low' 'Low' 'Mid-High' 'Medium' 'Low'
 'Low' 'Low' 'Mid-High' 'Medium' 'Medium' 'Low' 'Medium' 'Mid-High'
 'Mid-High' 'Low' 'Low' 'Medium' 'Mid-High' 'Mid-High' 'Highest' 'Low'
 'Low' 'Medium' 'Low' 'Highest' 'Mid-High' 'Medium' 'Mid-High' 'Mid-High'
 'Mid-High' 'Mid-High' 'Low' 'Medium' 'Low' 'Mid-High' 'Mid-High' 'Medium'
 'Mid-High' 'Medium' 'Low' 'Mid-High' 'Mid-High' 'Mid-High' 'Medium'
 'Highest' 'Mid-High' 'Medium' 'Medium' 'Low' 'Highest' 'Medium'
 'Mid-High' 'Medium' 'Low' 'Medium' 'Mid-High' 'Low' 'Low' 'Mid-High'
 'Medium' 'Low' 'Medium' 'Mid-High' 'Medium' 'Low' 'Mid-High' 'Medium'
 'Low' 'Low' 'Low' 'Medium' 'Mid-High' 'Low' 'Low' 'Low' 'Highest'
 'Medium' 'Medium' 'Mid-High' 'Medium' 'Medium' 'Highest' 'Mid-High' 'Low'
 'Low' 'Low' 'Highest' 'Low' 'Low' 'Mid-High' 'Mid-High' 'Low' 'Medium'
 'Mid-High' 'Low' 'Low' 'Mid-High' 'Low' 'Mid-High']
492     Highest
175         Low
529      Medium
618      Medium
558      Medium
         ...
643      Medium
235         Low
419    Mid-High
76          Low
64          Low
Name: price_category, Length: 160, dtype: object

In [172]:
#Menentukan nilai akurasi
from sklearn.metrics import accuracy_score
y_pred = gnb.predict(x_test)
accuracy_score(y_test,y_pred)

0.425

In [173]:
#confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 6,  0,  5, 18],
       [ 0, 34, 14,  1],
       [ 0, 22,  6, 12],
       [ 4,  4, 12, 22]], dtype=int64)

In [174]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Highest       0.60      0.21      0.31        29
         Low       0.57      0.69      0.62        49
      Medium       0.16      0.15      0.16        40
    Mid-High       0.42      0.52      0.46        42

    accuracy                           0.42       160
   macro avg       0.44      0.39      0.39       160
weighted avg       0.43      0.42      0.41       160

In [175]:
y_pred = gnb.predict([[2,1,1,1,2,3.135971,2]])
print(y_pred)

['Low']

In [176]:
y_pred = gnb.predict([[4,1,2,2,2,2.988217,5]])
print(y_pred)

['Medium']